<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/bolly.css">
    <link rel="stylesheet" type="text/css" href="/static/home_page.css">
    <title>Movies Recommender</title>
</head>
<body class="bg" background="/static/theatre_home.png" style="background-size: cover;">
    <center>
    <h1> Please enter your choice :</h1>

    <form action="hollywood/" id="holly_movie">
    
    <input type="submit" value="Hollywood" id="holly_movie" class="hollywood">
</form>
    
    <form action="bollywood/" id="bolly_movie">
    
    <input type="submit" value="Bollywood" id="bolly_movie" name="Bollywood" class="bollywood">
    </form>
    </center>
</body>
</html>